.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 1rem;
    /*background: rgb(0, 28, 73); DARK BLUE*/
}
.navbar img{
    width: 80px;
}
.navMenu {
    display: flex;
}
.navItem {
    font-weight: bolder;
    /*color: rgb(255,215,0); GOLD*/
    color: black;
    padding: 1rem;
}
.toggler {
    /*color: rgb(255,215,0); GOLD*/
    /*cursor: pointer;*/
    display: none;
}

@media screen and (max-width: 768px) {
    .toggler {
        display: flex;
        /*display: block;*/
    }
    .navMenu {
        position: fixed;
        top: 7vh;
        right: 0;
        width: 50%;
        height: 93vh;
        background: rgb(0, 28, 73);
        flex-direction: column;
        transform: translateX(100%);
    }

    /*.navMenu .activeToggle {
        transform: translateX(0%);
    }*/
}

/* Nav active class */